{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "^~/(.+)": "./\\1",
          "^form-validators$": "./src/index.js",
          "^form-validators/lib/(.+)$": "./src/\\1"
        }
      }
    ]
  ]
}
